{% extends 'base.html' %}

{% block content %}

<h1>Beads</h1>


<div class="card">
    <a href="{% url 'beads_detail' bead.id %}">
        <div class="card-content">
            <span class="card-title">The <span class="{{ bead.color.lower }}-text">{{ bead.color }}</span> {{ bead.name }}</span>
        </div>
        <div class="card-action">
            <a href="{% url 'beads_update' bead.id %}">Edit</a>
            <a href="{% url 'beads_delete' bead.id %}">Delete</a>
        </div>
    </a>
</div>

{% endblock %}